.share-recipe-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 3px;
  height: 100vh;
}

.share-recipe-form {
  width: 50%;
  padding: 30px;
}

.input-container {
  display: flex;
  align-items: center;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

.recipe-image-cover-load-form {
  margin-top: 25px;
}

.recipe-image-input {
  width: 350px;
  margin-bottom: 5px;
  padding: 15px 5px;
}

.share-input {
  margin-bottom: 15px;
  padding: 15px 5px;
  border: 1px solid #9b9b9b;
  border-radius: 5px;
  background-color: #f7f7f7;
  width: 350px;
  height: 30px;
}

.add-btn {
  height: 30px;
  margin-left: 10px;
}

.add-btn button {
  width: 165px;
  height: 100%;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer; 
}

.add-btn .add-recipe-name {
  background-color: #f5ae37;
}

.add-btn .add-recipe-name:hover {
  background-color: #f19d0b;
}

.add-btn .add-ingredient {
  background-color: #f55e8b;
}

.add-btn .add-ingredient:hover {
  background-color: #f74178;
}

.add-btn .add-method {
  background-color: #6784ff;
}

.add-btn .add-method:hover {
  background-color: #4460dd;
}

.submit-btn-wrapper {
  width: 150px;
}

.submit-btn-wrapper button {
  width: 100%;
}

.share-recipe-info {
  position: relative;
  width: 50%;
  height: 100%;
  padding: 30px;
  overflow-y: scroll;
  direction: rtl;
}

.share-recipe-info .recipe-info-title {
  font-size: 18px;
  padding: 5px 0 20px 0;
  margin: 5px 5px 15px 5px;
  border-bottom: 1px solid #ebe7e7;
  direction: ltr;
}

.recipe-info-title h3 {
  font-weight: 500;
  width: fit-content;
  padding: 5px 15px;
  border-radius: 20px;
}

.recipe-name-field h3 {
  background-color: #f5ae37;
  color: #fff;
}

.recipe-name-field .recipe-name-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 20px 0px 0px 5px;
}

.ingredients h3 {
  background-color: #f55e8b;
  color: #fff;
}

.methods h3 {
  background-color: #6784ff;
  color: #fff;
}

.servings h3 {
  background-color: #0ca981;
  color: #fff;
}

.preparation-time h3 {
  background-color: #7ad55a;
  color: #fff;
}

.servings, .preparation-time {
  display: flex;
  align-items: baseline;
}

.servings p, .preparation-time p {
  margin-left: 15px;
}

.items-list {
  padding: 20px 0 0 25px;
}

.recipe-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 15px;
}

.recipe-item li {
  word-break: break-word;
  padding-right: 15px;
}

.edit-mode {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  padding: 25px 35px;
  background-color: #f9fdfd;
  border: 2px solid #d7d7d7;
}

.edit-mode .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item .item-input {
  width: 400px;
  margin-right: 10px;
}

.item .item-input input {
  width: 100%;
  border: 2px solid #b5b5b5;
  border-radius: 3px;
  padding: 5px;
} 

.item .edit-btn button {
  padding: 8px 20px;
  border: none;
  border-radius: 3px;
  background-color: #2c2c2c;
  color: #fff;
  cursor: pointer;
}

.item .edit-btn button:hover {
  background-color: #3a3a3a;
}

.edit-mode .close-edit-btn {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 5px 2px;
  background-color: #f95b5b;
  border-radius: 100%;
  cursor: pointer;
}

.edit-mode .close-edit-btn:hover {
  background-color: #f34646;
}

.edit-mode .close-edit-btn .close-edit-icon {
  font-size: 16px;
  color: #fff;
}

.recipe-item .edit-or-delete {
  display: flex;
}

.edit-or-delete .edit-item-icon {
  font-size: 18px;
  margin-right: 10px;
  color:#2c2c2c;
  cursor: pointer;
}

.edit-or-delete .delete-item-icon {
  font-size: 18px;
  color: #ff2121;
  cursor: pointer;
}

/* width */
.share-recipe-info::-webkit-scrollbar {
  width: 10px;
}
 
/* Handle */
.share-recipe-info::-webkit-scrollbar-thumb {
  background: #f0f0f0; 
  /* border-radius: 10px; */
}

/* Handle on hover */
.share-recipe-info::-webkit-scrollbar-thumb:hover {
  background: #a3a3a3; 
}

.recipe-page-modal {
  position: absolute;
  margin-top: 5px;
  font-size: 20px;
  padding: 25px 35px;
  border: 2px solid #e5e5e5;
  border-radius: 5px;
  box-shadow: -3px 5px 8px 0px #f3f3f3;
}

.recipe-page-modal.success-modal {
  background-color: #0ecf72;
  color: #fff;
  border-color: #0bc96e;
}

.recipe-page-modal.error-modal {
  background-color: #f55c5c;
  color: #fff;
  border-color: red;
}
