input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
   opacity: 1;
}

.share-recipe-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 3px;
  height: 100vh;
}

.share-recipe-form {
  width: 50%;
  padding: 30px;
}

.share-recipe-form-title {
  margin-bottom: 15px;
}

.input-container {
  display: flex;
  align-items: center;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

.recipe-image-cover-load-form {
  margin-top: 25px;
}

.recipe-image-input {
  margin-bottom: 5px;
  padding: 10px 5px 15px 5px;
}

.share-input {
  margin-bottom: 15px;
  padding: 15px 5px;
  border: 1px solid #9b9b9b;
  border-radius: 5px;
  background-color: #f7f7f7;
  width: 350px;
  height: 30px;
}

.add-btn {
  height: 30px;
  margin-left: 10px;
}

.add-btn button {
  width: 165px;
  height: 100%;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer; 
}

.add-btn .add-recipe-name {
  background-color: #f5ae37;
}

.add-btn .add-recipe-name:hover {
  background-color: #f19d0b;
}

.add-btn .add-ingredient {
  background-color: #f55e8b;
}

.add-btn .add-ingredient:hover {
  background-color: #f74178;
}

.add-btn .add-method {
  background-color: #6784ff;
}

.add-btn .add-method:hover {
  background-color: #4460dd;
}

.submit-btn-wrapper {
  width: 150px;
}

.submit-btn-wrapper button {
  width: 100%;
}

.share-recipe-info {
  position: relative;
  width: 50%;
  height: 100%;
  padding: 30px;
  overflow-y: scroll;
  direction: rtl;
}

/* width */
.share-recipe-info::-webkit-scrollbar {
  width: 10px;
}
 
/* Handle */
.share-recipe-info::-webkit-scrollbar-thumb {
  background: #f0f0f0; 
  /* border-radius: 10px; */
}

/* Handle on hover */
.share-recipe-info::-webkit-scrollbar-thumb:hover {
  background: #a3a3a3; 
}
