.share-recipe-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 3px;
  height: 100vh;
}

.share-recipe-form {
  width: 50%;
  padding: 30px;
}

.input-container {
  display: flex;
  align-items: center;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

.share-input {
  margin-bottom: 15px;
  padding: 15px 5px;
  border: 1px solid #9b9b9b;
  border-radius: 5px;
  background-color: #f7f7f7;
  width: 350px;
  height: 30px;
}

.add-btn {
  height: 30px;
  margin-left: 10px;
}

.add-btn button {
  width: 165px;
  height: 100%;
  border: 1px solid #8d8d8d;
  border-radius: 5px;
  background-color: #2c2c2c;
  color: #fff;
  cursor: pointer; 
}

.submit-btn-wrapper {
  width: 150px;
}

.submit-btn-wrapper button {
  width: 100%;
}

.share-recipe-info {
  width: 50%;
  padding: 30px;
  overflow-y: scroll;
  direction: rtl;
}

.share-recipe-info .recipe-info-title {
  font-size: 18px;
  padding: 5px 0 20px 0;
  margin: 5px 5px 15px 5px;
  border-bottom: 1px solid #ebe7e7;
  direction: ltr;
}

.recipe-info-title h3 {
  font-weight: 500;
  width: fit-content;
  padding: 5px 15px;
  border-radius: 20px;
}

.recipe-name-field h3 {
  background-color: #f5ae37;
  color: #fff;
}

.recipe-name-field p {
  padding: 20px 0 0 5px;
}

.ingredients h3 {
  background-color: #f34646;
  color: #fff;
}

.methods h3 {
  background-color: #6784ff;
  color: #fff;
}

.share-recipe-info .preparation-time {
  display: flex;
  align-items: baseline;
}

.preparation-time h3 {
  background-color: #7ad55a;
  color: #fff;
}

.preparation-time p {
  margin-left: 15px;
}

.items-list {
  padding: 20px 0 0 25px;
}

.recipe-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.recipe-item li {
  word-break: break-word;
  padding-right: 15px;
}

.recipe-item .edit-or-delete {
  display: flex;
}

.edit-or-delete .edit-item-icon {
  font-size: 18px;
  margin-right: 10px;
  color:#2c2c2c;
  cursor: pointer;
}

.edit-or-delete .delete-item-icon {
  font-size: 18px;
  color: #ff2121;
  cursor: pointer;
}
