.profile-container {
  margin: 40px;
}

.profile-container .user-info {
  display: flex;
  align-items: center;
}

.user-info .profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  margin-right: 40px;
}

.user-info .change-profile-pic-wrapper {
  margin-top: 20px;
}

.change-profile-pic-wrapper label {
  padding: 10px;
  background-color: #363333;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.change-profile-pic-wrapper input {
  display: none;
}

.tab-titles {
  margin: 40px 0px;
}

.tab-titles span {
  color: #fff;
  margin: 10px;
  padding: 10px 20px;
  background-color: #82d173;
  border-radius: 5px;
  cursor: pointer;
}

.tab-titles .inactive:hover {
  opacity: 1;
}

.my-recipes {
  display: flex;
  flex-wrap: wrap;
}

.update-password {
  display: flex;
  justify-content: center;
}