.homepage-btns {
  display: flex;
  justify-content: space-between;
  margin: 50px 165px;
}

.share-recipe-btn .share-btn {
  border: none;
  border-radius: 5px;
  padding: 7px 20px;
  font-size: 20px;
  background-color: #1f201f;
  color: #fff;
  cursor: pointer;
}