.sort {
  display: flex;
  margin: 50px 50px 40px 50px;
}

.mostRecent,
.mostLiked {
  margin-right: 20px;
  padding: 7px 20px;
  background-color: rgb(255, 165, 0);
  border: none;
  border-radius: 5px;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}

.mostLiked:hover {
  background-color: rgb(255, 165, 0);
  opacity: 1;
}

.mostRecent:hover {
  background-color: rgb(255, 165, 0);
  opacity: 1;
}