.header {
  width: 100%;
  height: 50px;
  background-color: #313130;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 2px 2px #000;
}

.header .nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 150px;
}

.header .nav-bar a {
  text-decoration: none;
}

.header .nav-bar .logo {
  font-size: 25px;
  font-family: math;
  color: #fff;
  cursor: pointer;
}

.header .nav-bar .options {
  display: flex;
  align-items: center;
}

.nav-bar .options .log-in {
  background-color: #fdfdfd;
  color: #000;
  margin-right: 15px;
  padding: 5px 7px;
  border-radius: 3px;
  cursor: pointer;
}

.nav-bar .options .log-in:hover {
  background-color: #e6e6e6;
}

.nav-bar .options .sign-up {
  color: #fff;
  background-color: #ffb91a;
  padding: 5px 7px;
  border-radius: 3px;
  cursor: pointer;
}

.nav-bar .options .sign-up:hover {
  background-color: #f5cd6f;
}
