.more-info {
  margin: 3px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  background-color: #ffb91a;
  border-radius: 3px;
}

.more-info .likes,
.time {
  display: flex;
  align-items: center;
  padding: 0px 10px;
  color: rgb(255, 255, 255);
}

.more-info .likes #heart-icon {
  color: #fd7b7b;
  cursor: pointer;
}

.more-info .likes #heart-icon:hover {
  color: #ff0000;
}

.more-info .likes #heart-icon-liked {
  color: #ff0000;
  cursor: pointer;
}

.more-info .likes #heart-icon-liked:hover {
  color: #fd7b7b;
}

.more-info .likes .number {
  padding-left: 10px;
}

.more-info .time .minutes {
  padding-left: 5px;
  font-size: 16px;
}